.home{
    display: flex;
    width: 100%;
    height: 100vh;
    .homebody{
        display: flex;
        flex-direction: row;
        width: 100%;
        .left-body{
            width: 100%;
            background-color: #ffffff;
            .lable{
               font-size: 18px;
                color: cadetblue;
            }
            .H{
                font-size: 25px;
                color:black;
                font-weight:500;
            }
            .input-box{
                width: 80%;
                height: 25px;
            }
        }
        .right-body{
            width: 100%;
            background-color:antiquewhite;
        }
    }


}
.customInfo-button {
  padding: 10px 20px;
  background-color:#0679d4;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.customInfo-button:hover {
  background-color: #0679d4;
}