.row-pace-w100-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .input-box{
        display: flex;
        border-radius: 5px;
        height: 28px;
        border: 1px solid #b1b1b1;
        margin-left: 3;
        margin-right: 3;
    }
    .textarea-box{
        display: flex;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #b1b1b1;
        margin-left: 3;
        margin-right: 3;
    }
}

.layout-margintop-5 {
    display: flex;
    margin-top: 5px;
    // padding:5px;

}

.layout-flex-line {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.customSuccess-button {
  padding: 10px 20px;
  background-color:#28b463;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.customSuccess-button:hover {
  background-color: #28b463;
}


.customWarning-button {
  padding: 10px 20px;
  background-color:#dc7633;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.customWarning-button:hover {
  background-color: #dc7633;
}



.customInfo-button {
  padding: 10px 20px;
  background-color:#0679d4;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.customInfo-button:hover {
  background-color: #0679d4;
}